span{
    color: brown;
    font-size: large;
}
.subhead{
    color: lightcoral;
    font-family: sans-serif;
}
#para{
    color: red;
    background-color: aquamarine;
}
span,h1{
    background-color: lightblue;
}
*{
    background-color: black;
}
div p{
    color: green;

}
div > p{
    color: violet;
    
}
input[type="text"]{
    color: red;
    background-color: antiquewhite;
}
h1+p{
    color: aquamarine;
}
h1+p~p{
    color: green;
}