.nestedList{
    list-style: none;
    margin-top: 10px;
    font-size: large;
    border: 10px double blue;
    padding: 10px;
    width: 150px;
    margin: 10px;
}
.nestedLink{
    text-decoration: none;
    cursor: pointer;
}